* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  color: red;
}
.app-wrapper {
  display: grid;
  margin: auto;
  width: 1200px;
  justify-content: center;
  grid-template-areas:
    "header header"
    "nav main";
    /* "footer footer"; */
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px minmax(700px, auto);
  background-color: rgb(255, 255, 255);
}
.main {
  grid-area: main;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.preloaderBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}


/* footer {} */
