.dialogs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
}
.dialogBlock {
  border: solid 1px red;
  width: 50%;
}
.dialogItem {
  width: 300px;
  height: 60px;
  padding-left: 16px;
  border: red solid 1px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}
.img {
  width: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.messagesBlock {
  border: solid 1px red;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.createMessageBlock {
  display: flex;
  margin-left: auto;
}








.messages {
  margin-top: 60px;
}
.dialogsItems .active {
  color: gold;
}